body {
    background-color: #ddd;
    button{
        margin: 0px 40px;
    }
    h3{
        margin: 40px;
    }
}
form {
    margin: 40px;
}
.redSquare{
    width: 100px;
    height: 100px;
    background: red;    
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}